/*LOGIN / LOGOUT*/
#tableLogin {border:0; }
#tableLogin td {
    padding-left: 10px;
    margin-bottom: 20px; }

.btn-login  {
    margin-top: 20px;
    height: 2.5em;
    border: 0;
    color: #778893;
    border-radius:20px;
    transition:0.5s;
    background-color: #2D4757; }
.btn-login:hover {border-radius:3px; }
.btn-login:active {background-color:#778893; }

.btn-logout {
    border: 0;
    color: #778893;
    border-radius:3px;
    transition:0.5s;
    transform:scale(1,0.8);
    background-color: #2D4757; }
.btn-logout:hover {border-radius:20px; }
.btn-logout:active {background-color:#778893; }

/*TEMPLATE PAGE*/
footer {float: right; }
footer p {
    margin: 0;
    font-size: 11px;
    color: #514F57;
    text-align: right;
}

.center {text-align: center; }

.right {
    float: right;
    margin-right: 5px; }

/*DETAILS-VIEW*/
.dtlView {
    width: 50%; }

.dtlViewHeader {
    width: 30%;
    text-align: right;
    padding-right: 10px; }

.dtlViewItem {
    text-align: left;
    padding-left: 10px; }

.dtlViewControlItem {
    /*referenciado en el ItemStyle de CommandsField*/ }
.dtlViewComands {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }

/*GRID-VIEW*/
.grdView {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}

.grdView td {
	padding: 2px; }

.grdView th  {
      padding : 4px 2px;
      color: #fff;
      text-align: center;
      background: #4D477B repeat-x top;
      border-left: solid 1px #828287;
      font-size: 0.9em; }

/*.grdView .alt {
      background: black repeat-x top;
      border-left: solid 1px #525252; }*/

.grdView .pgr {background: #363670 repeat-x top; }
.grdView .pgr table { margin: 3px 0; }
.grdView .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
.grdView .pgr a { color: Gray; text-decoration: none; }
.grdView .pgr a:hover { color: #000; text-decoration: none; }